<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample</title>
</head>
<body>

	<th:block th:if="${databaseForm.newData}">

		<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;" id="sort_table">
			<tr>
				<th>id</th>
				<th>名前</th>
				<th>年齢</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
			<tr th:each="obj : ${list}" align="center">
				<td th:text="${obj.id}"></td>
				<td th:text="${obj.name}" align="left"></td>
				<td th:text="${obj.age}"></td>
				<!--/* 編集ボタン */-->
				<td>
					<form method="GET" th:action="@{/database/{id}(id=${obj.id})}">
						<input type="submit" value="編集">
					</form>
				</td>
				<!--/* 削除ボタン */-->
				<td>
					<form method="POST" th:action="@{/database/delete}">
						<input type="hidden" name="id" th:value="${obj.id}">
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		</table>
		<p th:if="${#lists.isEmpty(list)}">データが登録されていません。</p>	
	</th:block>
		
	<th:block th:unless="${databaseForm.newData}">
		<table border="1" style="table-layout: fixed;">
			<tr>
				<th>id</th>
				<th>名前</th>
				<th>年齢</th>
			</tr>
			<tr th:each="database:${databases}">
				<td>[[${database.id}]]</td>
				<td>[[${database.name}]]</td>
				<td>[[${database.age}]]</td>
			</tr>                                                  
		</table>
	</th:block>
	
	<form method="POST" th:action="${databaseForm.newData} ? @{/database/insert} : @{/database/update}"
			 th:object="${databaseForm}">
		<br>
		<hr>
		<br>
		<table border="1" style="table-layout: fixed;">
			<tr>
				<th>id</th>
				<th>名前</th>
				<th>年齢</th>
			</tr>
			<tr>
				<td>
					<input th:if="${id}" type="hidden" th:field="*{id}">
				</td>
				<td> 
					<input type="text" name="name" th:field="*{name}" align="left">
				</td>
				<td>
					<input type="number" name="age" th:field="*{age}">
				</td>
			</tr>
		</table>
		<br>
		<th:block th:if="${databaseForm.newData}">
			<input type="submit" value="追加">
		</th:block>
		<th:block th:unless="${databaseForm.newData}">
			<input type="submit" value="編集">
			<br>
			<a href="#" th:href="@{/database}">参照画面へ戻る</a>
		</th:block>
	</form>
	<br>

	
	<form method="POST" th:action="@{/database/save}">
		<input type="submit" value="保存">
	</form>

	
	<script>
		window.addEventListener('load', function () {
			let column_no = 0; //今回クリックされた列番号
			let column_no_prev = 0; //前回クリックされた列番号
			document.querySelectorAll('#sort_table th').forEach(elm => {
				elm.onclick = function () {
					column_no = this.cellIndex; //クリックされた列番号
					let table = this.parentNode.parentNode.parentNode;
					let sortType = 0; //0:数値 1:文字
					let sortArray = new Array; //クリックした列のデータを全て格納する配列
					for (let r = 1; r < table.rows.length; r++) {
						//行番号と値を配列に格納
						let column = new Object;
						column.row = table.rows[r];
						column.value = table.rows[r].cells[column_no].textContent;
						sortArray.push(column);
						//数値判定
						if (isNaN(Number(column.value))) {
							sortType = 1; //値が数値変換できなかった場合は文字列ソート
						}
					}
					if (sortType == 0) { //数値ソート
						if (column_no_prev == column_no) { //同じ列が2回クリックされた場合は降順ソート
							sortArray.sort(compareNumberDesc);
						} else {
							sortArray.sort(compareNumber);
						}
					} else { //文字列ソート
						if (column_no_prev == column_no) { //同じ列が2回クリックされた場合は降順ソート
							sortArray.sort(compareStringDesc);
						} else {
							sortArray.sort(compareString);
						}
					}
					//ソート後のTRオブジェクトを順番にtbodyへ追加（移動）
					let tbody = this.parentNode.parentNode;
					for (let i = 0; i < sortArray.length; i++) {
						tbody.appendChild(sortArray[i].row);
					}
					//昇順／降順ソート切り替えのために列番号を保存
					if (column_no_prev == column_no) {
						column_no_prev = -1; //降順ソート
					} else {
						column_no_prev = column_no;
					}
				};
			});
		});
		//数値ソート（昇順）
		function compareNumber(a, b)
		{
			return a.value - b.value;
		}
		//数値ソート（降順）
		function compareNumberDesc(a, b)
		{
			return b.value - a.value;
		}
		//文字列ソート（昇順）
		function compareString(a, b) {
			if (a.value < b.value) {
				return -1;
			} else {
				return 1;
			}
			return 0;
		}
		//文字列ソート（降順）
		function compareStringDesc(a, b) {
			if (a.value > b.value) {
				return -1;
			} else {
				return 1;
			}
			return 0;
		}
	</script>
<style>
#sort_table {
	border-collapse:collapse;
}
#sort_table td {
	border:1px solid lightgray;
}
#sort_table th {
	cursor:pointer;
	background-color:lightgray;
}
</style>		
</body>
</html>